---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tools" back_button="true">
    <h1>
        <span>Tools</span>
    </h1>
    <ul class="no-bullet inline-list">
        <li>
            <a href="/tools/shapez" class="popout">
                shapez patch finder
            </a>
        </li>
    </ul>
</Layout>
