:root {
    --ctp-rosewater: var(--ctp-mocha-rosewater);
    --ctp-flamingo: var(--ctp-mocha-flamingo);
    --ctp-pink: var(--ctp-mocha-pink);
    --ctp-mauve: var(--ctp-mocha-mauve);
    --ctp-red: var(--ctp-mocha-red);
    --ctp-maroon: var(--ctp-mocha-maroon);
    --ctp-peach: var(--ctp-mocha-peach);
    --ctp-yellow: var(--ctp-mocha-yellow);
    --ctp-green: var(--ctp-mocha-green);
    --ctp-teal: var(--ctp-mocha-teal);
    --ctp-sky: var(--ctp-mocha-sky);
    --ctp-sapphire: var(--ctp-mocha-sapphire);
    --ctp-blue: var(--ctp-mocha-blue);
    --ctp-lavender: var(--ctp-mocha-lavender);
    --ctp-text: var(--ctp-mocha-text);
    --ctp-subtext1: var(--ctp-mocha-subtext1);
    --ctp-subtext0: var(--ctp-mocha-subtext0);
    --ctp-overlay2: var(--ctp-mocha-overlay2);
    --ctp-overlay1: var(--ctp-mocha-overlay1);
    --ctp-overlay0: var(--ctp-mocha-overlay0);
    --ctp-surface2: var(--ctp-mocha-surface2);
    --ctp-surface1: var(--ctp-mocha-surface1);
    --ctp-surface0: var(--ctp-mocha-surface0);
    --ctp-base: var(--ctp-mocha-base);
    --ctp-mantle: var(--ctp-mocha-mantle);
    --ctp-crust: var(--ctp-mocha-crust);
}

@media (prefers-color-scheme: light) {
    :root {
        --ctp-rosewater: var(--ctp-latte-rosewater);
        --ctp-flamingo: var(--ctp-latte-flamingo);
        --ctp-pink: var(--ctp-latte-pink);
        --ctp-mauve: var(--ctp-latte-mauve);
        --ctp-red: var(--ctp-latte-red);
        --ctp-maroon: var(--ctp-latte-maroon);
        --ctp-peach: var(--ctp-latte-peach);
        --ctp-yellow: var(--ctp-latte-yellow);
        --ctp-green: var(--ctp-latte-green);
        --ctp-teal: var(--ctp-latte-teal);
        --ctp-sky: var(--ctp-latte-sky);
        --ctp-sapphire: var(--ctp-latte-sapphire);
        --ctp-blue: var(--ctp-latte-blue);
        --ctp-lavender: var(--ctp-latte-lavender);
        --ctp-text: var(--ctp-latte-text);
        --ctp-subtext1: var(--ctp-latte-subtext1);
        --ctp-subtext0: var(--ctp-latte-subtext0);
        --ctp-overlay2: var(--ctp-latte-overlay2);
        --ctp-overlay1: var(--ctp-latte-overlay1);
        --ctp-overlay0: var(--ctp-latte-overlay0);
        --ctp-surface2: var(--ctp-latte-surface2);
        --ctp-surface1: var(--ctp-latte-surface1);
        --ctp-surface0: var(--ctp-latte-surface0);
        --ctp-base: var(--ctp-latte-base);
        --ctp-mantle: var(--ctp-latte-mantle);
        --ctp-crust: var(--ctp-latte-crust);
    }
}

:root {
    --ctp-accent: var(--ctp-pink);
}