@import "themes.less";

a {
  color: var(--ctp-text);
  text-decoration: none;
}

a:not(.no-a), .a {
  color: var(--accent);
  cursor: pointer;
  text-decoration: none;
}

a:not(.no-a):hover, .a:hover {
  text-decoration: underline;
}

:focus {
  border-radius: 2px;
  outline: var(--accent) solid 1px;
}

html, body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
  font-family: "Ubuntu", "Roboto", "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.subtext1 {
  color: var(--ctp-subtext1);
}

.subtext0 {
  color: var(--ctp-subtext0);
}

.margin-r {
  margin-right: 0.25em;
}

.margin-l {
  margin-left: 0.25em;
}

.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

.inline-list > li {
  display: inline-block;
}

header, footer {
  padding: 0 4em;
  z-index: 10;
}

main {
  padding: 2em 6em;
}

.smallimg {
  width: 128px;
  height: 128px;
  margin-right: 1.5em;
}

.hv-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 801px) and (max-width: 999px) {
  header, footer {
    padding: 0 2em !important;
  }

  main {
    padding: 2em 4em !important;
  }

  .smallimg {
    width: 96px;
    height: 96px;
    margin-right: 0.9em;
  }
}

@media screen and (min-width: 401px) and (max-width: 800px) {
  header, footer {
    padding: 0 0.75em !important;
  }

  main {
    padding: 2em 2em !important;
  }

  .smallimg {
    width: 64px;
    height: 64px;
    margin-right: 0.75em;
  }
}

@media screen and (max-width: 400px) {
  header, footer {
    padding: 0 0.2em !important;
  }

  main {
    padding: 2em 1em !important;
  }
}

code, pre, kbd {
  font-family: "Fira Code", "Consolas", "Courier New", sans-serif;
  background-color: var(--ctp-surface0);
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.error {
  color: var(--ctp-red);
}

.success {
  color: var(--ctp-green);
}

.small {
  font-size: 0.625em;
}

.shadow, .popout {
  box-shadow: 0 0 0.3em 0.1em var(--shadow);
}

.hidden {
  display: none;
}

.input {
  border: none;
  background-color: var(--ctp-surface0);
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
  display: inline-block;
  transition: transform 0.3s;
  color: var(--ctp-text);
}

.popout {
  background-color: var(--ctp-surface0);
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  display: inline-block;
  transition: transform 0.3s;
}

.popout:hover {
  transform: scale(1.15);
}

.popout-padding {
  padding: 0.6em 1em 1em 1em;
}

.symbol {
  position: relative;
  top: 5px;
  left: 0;
}

h1 {
  text-shadow: 0 0 0.3em var(--shadow);
}

svg {
  color: var(--ctp-text);
}

.lcenter {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.lvertical {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.small-v-margin {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.bottom-margin {
  margin-bottom: 2em;
}

.bullet {
  display: inline-block;
  width: 0.25em;
  height: 0.25em;
  margin-top: 0.2em;
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  margin-left: 0.5em;
  background: var(--ctp-subtext0);
  border-radius: 50%;
}

.pfp {
  border-radius: 50%;
  filter: drop-shadow(0 0 0.3em var(--shadow));
}

@media screen and (max-width: 400px) {
  .hv-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .small-hide {
    display: none;
  }

  .lcenter {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .smallimg {
    width: 64px;
    height: 64px;
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 200px) {
  .inline-list {
    text-align: center;
  }

  .vsmall-hide {
    display: none;
  }
}
