---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
---

<Layout title="404 - Not Found">
    <main>
        <h1>
            <BackButton/>
            <span>404 - Not Found</span>
        </h1>
    </main>
</Layout>