---
import { YouTube } from 'astro-embed';
import Layout from "../layouts/Layout.astro";

---

<Layout title="mekb BlanketCon '25" description="not clickbait">
	<h1>my mods at blanketcon '25 (not clickbait)</h1>
	<YouTube id="dQw4w9WgXcQ"
			 poster="https://mekb-turtle.github.io/very-real.png">
</Layout>
