---
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";
import image from "../pfp.png";
---

<Layout title="mekb">
    <div class="lcenter bottom-margin">
        <Image src={image} alt="mekb" class="smallimg pfp" width="256"/>
        <div class="lvertical">
            <h1 class="small-v-margin">mekb</h1>
            <h4 class="small-v-margin hv-flex">
                <span title="Pronouns">she/they/it</span>
                <div class="bullet small-hide"></div>
                <span title="Pronunciation">mek-bee</span>
                <div class="bullet small-hide"></div>
                <span title="Location">Australia</span>
            </h4>
        </div>
    </div>
    <p>
        Hi, I'm mekb.
    </p>
    <p>
        I'm a software developer, I mainly write in C and TypeScript, but sometimes Node.js, C#, Bash, and Java.
    </p>
    <ul class="no-bullet inline-list">
        <li>
            <a href="/contact" class="popout popout-padding no-a">
                <Icon name="bi:telephone-fill" class="symbol" width="24" height="24"></Icon>
                <span class="a margin-l vsmall-hide">Contact</span>
            </a>
        </li>
        <li>
            <a href="/tools" class="popout popout-padding no-a">
                <Icon name="bi:wrench" class="symbol" width="24" height="24"></Icon>
                <span class="a margin-l vsmall-hide">Tools</span>
            </a>
        </li>
    </ul>
</Layout>
