---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mekb">
    <h1>mekb's website</h1>
    <ul class="no-bullet">
        <li>
            <a href="/contact" class="popout social">
                Contact
            </a>
        </li>
    </ul>
</Layout>