---
import Icon from "astro-icon";
---

<a aria-label="Back" href="/" class="symbol">
    <Icon name="bi:arrow-left" width="24" height="24"></Icon>
</a>
<style>
    .symbol {
        position: relative;
        top: 0.25em;
        padding: 0.45em 0.3em 0 0.3em;
        left: 0;
    }
</style>
