---
import Icon from "astro-icon";
---

<div id="theme-slider" class="hidden">
    <input name="theme-checkbox" type="checkbox" class="theme-checkbox" id="theme-checkbox"/>
    <label for="theme-checkbox" class="slider shadow">
        <span class="slider-knob shadow">
            <Icon class="sun" name="bi:sun-fill"/>
            <Icon class="moon" name="bi:moon-fill"/>
        </span>
    </label>
</div>

<style>
    @import "../styles/themes.less";

    .slider .moon {
        color: var(--ctp-surface0);
        display: inline;
    }

    .slider .sun {
        color: var(--ctp-surface0);
        display: none;
    }

    input#theme-checkbox:checked + .slider .moon {
        display: none;
    }

    input#theme-checkbox:checked + .slider .sun {
        display: inline;
    }

    input#theme-checkbox {
        display: none;
    }

    .slider {
        display: inline-block;
        width: 3em;
        height: 1.45em;
        background-color: var(--ctp-surface0);
        border-radius: 1em;
        position: relative;
        top: 0.35em;
        left: 0;
        cursor: pointer;
    }

    .slider-knob {
        display: inline-block;
        width: 1.45em;
        height: 1.45em;
        background-color: var(--ctp-text);
        border-radius: 1em;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0.8);
        transition: left 0.3s;
        cursor: pointer;
    }

    input.theme-checkbox:checked + .slider .slider-knob {
        left: 1.5em;
    }

    .slider .sun, .slider .moon {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0.8);
    }
</style>

<script is:inline>
    document.getElementById("theme-slider").classList.remove("hidden");

    const themeCheckbox = document.getElementById("theme-checkbox");

    themeCheckbox.checked = theme === "1";
    themeCheckbox.addEventListener("change", function () {
        theme = themeCheckbox.checked ? "1" : "0";
        localStorage.setItem("theme", theme);
        updateTheme();
    })
</script>
