---
import Header from "../components/Header.astro";

interface Props {
    title: string;
    description: string;
    back_button: boolean;
}

const {back_button, title, description} = Astro.props;

import {SEO} from "astro-seo";

import "../styles/style.less";

import "@fontsource/ubuntu/400.css";
import "@fontsource/fira-code/400.css";
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <SEO
            description={description}
            openGraph={{
                basic: {
                    title, type: "website", image: ""
                }
            }}
            twitter={{
                title,
                description,
                card: "summary"
            }}
            extend={{
                link: [
                    {rel: "icon", type: "image/png", href: "/favicon.png"},
                    {rel: "icon", type: "image/x-icon", href: "/favicon.ico"}
                ],
                meta: [
                    {name: "viewport", content: "width=device-width, initial-scale=1"},
                    {name: "generator", content: Astro.generator}
                ]
            }}/>
    <title>{title}</title>
    <script is:inline>
        let theme = window.localStorage.getItem("theme");
        if (theme !== "1" && theme !== "0") {
            if (window.matchMedia("(prefers-color-scheme: light)").matches) {
                theme = "1";
            } else {
                theme = "0";
            }
        }

        function updateTheme() {
            if (theme === "1") {
                document.documentElement.setAttribute("data-theme", "light");
            } else {
                document.documentElement.setAttribute("data-theme", "dark");
            }
        }

        updateTheme();
    </script>
</head>
<body>
<Header back_button={back_button}/>
<main>
    <slot/>
</main>
</body>
</html>
